@font-face {
    font-family: 'ABCFavorit';
    src: url('../fonts/ABCFavorit-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('../fonts/ABCFavorit-Regular.woff') format('woff'); /* Older Browsers */
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'ABCFavorit';
    src: url('../fonts/ABCFavorit-Bold.woff2') format('woff2'),
         url('../fonts/ABCFavorit-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


html {
    height: 100%;
    background-color: black;
}

body {
    font-family: 'ABCFavorit', Tahoma, Verdana, Arial;
    font-weight: normal;
    font-size: min(24px, 4vw);
    color: #D3FFB4;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    max-width: 1440px; /* Maximum width of the content */
    margin: auto; /* Centers the body horizontally */
    position: relative; /* Necessary for positioning children elements */
    overflow-x: hidden;
}

h1, h2, h3, strong {
    font-weight: bold;
    line-height: 105%;
}

h1 {
    margin-top: 0;
    font-size: min(60px, 6vw);
}
h3 {
    margin-top: 10px;
    margin-bottom: 0;
}

.teaser-image {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%); /* Centers the image horizontally */
    width: 100%;
    max-width: 1440px; /* Maximum width of the content */
    height: 100vh;
    z-index: -1; /* Ensures the image stays behind the text content */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.teaser-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the full area */
}

.logo {
    position: absolute;
    top: 50%; /* Position the logo at the middle of the teaser image */
    left: 50%; /* Center the logo horizontally within the teaser image */
    transform: translate(-50%, -50%); /* Perfect centering adjustment */
    width: 90%;
    height: auto;
    z-index: 2; /* Ensures the logo appears over the image */
    padding: 0; /* Optional padding around the logo */
    text-align: center; /* Centers all content within the logo div */
    display: flex;
    flex-direction: column; /* Stack the image and date vertically */
    justify-content: center; /* Center content vertically within the logo */
    align-items: center; /* Center content horizontally */
}

.date {
    font-size: min(80px, 8vw);
    font-weight: bold;
    color: #D3FFB4;
    padding-top: 20px; /* Add space above the date */
    white-space: nowrap; /* Prevents the text from wrapping */
    overflow: hidden; /* Hides any overflow that might occur */
    text-overflow: ellipsis; /* Adds an ellipsis if the text overflows (optional) */
}

.color-transition {
    height: 250px;
    background: linear-gradient(
        180deg, 
        rgba(0, 75, 80, 0) 5%, 
        rgba(0, 75, 80, 0.67) 43%, 
        rgba(0, 75, 80, 0.84) 56%, 
        rgba(0, 75, 80, 0.93) 67%, 
        rgba(0, 75, 80, 0.98) 73%, 
        rgba(0, 75, 80, 1) 81%,
        #004B50 100%
    );
    margin-top: 95vh; /* Transition starts already at the bottom of the teaser screen */
}

/* Default button style. Color is adjusted in the different text-XXX style definitions */
.button-round {
    height: 48px; /* Fixed height */
    line-height: 48px; /* Aligns text vertically */
    padding: 0 40px; /* Padding on left and right for text */
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.05em; /* Increases letter spacing slightly */
    background-color: #004B50; /* Default background color */
    color: #D3FFB4; /* Default font color */
    border: none; /* No borders */
    border-radius: 24px; /* Full circle on the sides */
    outline: none; /* Removes focus outline */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for color and background */
    /* Following makes sure the button does not span the full width in a flex container */
    width: auto; /* Ensures the button only uses the width it needs */
    min-width: 180px; 
    max-width: 100%; /* Prevents the button from exceeding the container width */
    margin: 20px auto; /* Centers the button horizontally */
}

.button-round:hover, .button-round:active {
    background-color: #A6B1F1;
    color: #004B50;
}

a .button-round {
    text-decoration: none; /* Ensures no underline appears */
    color: inherit; /* Inherits color from the button class */
}

a:hover .button-round, a:active .button-round {
    /* Preserve your hover and active styles */
}

.text-wide {
    padding: 50px;
    color: #004B50;
    background-color: #D3FFB4;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Centers content vertically */
    align-items: center;     /* Centers content horizontally */
    text-align: center;  /* Centers text lines within paragraphs */
    box-sizing: border-box; /* Includes padding in the height calculation */
}

.text-wide .button-round {
    background-color: #004B50;
    color: #D3FFB4;
}

.text-wide .button-round:hover, .text-wide .button-round:active {
    background-color: #A6B1F1;
    color: #004B50;
}

.text-columns {
    display: flex;
    flex-direction: row; /* Default direction is row */
    padding: 50px 70px;
    color: #D3FFB4;
    box-sizing: border-box; /* Ensures padding is included in width calculation */
    background: #004B50; /* Assuming a continuation of your color scheme */
}

.text-columns .button-round {
    background-color: #D3FFB4;
    color: #004B50;
}

.text-columns .button-round:hover, .text-columns .button-round:active {
    background-color: #A6B1F1;
    color: #004B50;
}

.column-one {
    flex: 1; /* Takes up 1 part of the space */
    padding: 0; /* Padding inside column */
    display: flex;
    flex-direction: column; /* Stacks children vertically */
    align-items: center; /* Horizontally center content within the column */
}

.column-one-header {
    width: 190px;          /* Diameter of the circle */
    height: 190px;         /* Diameter of the circle */
    margin-bottom: 30px;
    border-radius: 50%;    /* Makes the shape a circle */
    border: 5px solid #A6B1F1; /* Border color and width */
    display: flex;         /* Enables flexbox properties */
    justify-content: center; /* Centers content horizontally */
    align-items: center;   /* Centers content vertically */
    font-size: 24px;
    text-transform: uppercase; /* Converts text to uppercase */
    background-color: transparent; /* Ensures the inside of the circle is transparent */
}

.column-two {
    flex: 3; /* Takes up 3 parts of the space */
    padding: 0 25px; /* 0 padding on top and bottom, 25px padding on left and right */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: flex-start; /* Aligns children to the start (left) of the container */
}

.column-one p, .column-two p {
    margin: 0 0 20px 0; /* top right bottom left margin */
}

/* Button specific alignment */
.column-two .button-round {
    align-self: flex-start; /* Only the button will align to the left */
    margin-left: 0; /* Ensures no extra space on the left if previously centered with auto margins */
}

.footer-color-transition {
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center; /* Centers content vertically */
    align-items: center;     /* Centers content horizontally */
    text-align: center;  /* Centers text lines within paragraphs */
    box-sizing: border-box; /* Includes padding in the height calculation */
    background: linear-gradient(
        180deg, 
        #004B50 35%, 
        #185A68 43%, 
        #31697F 48%, 
        #698CB6 57%, 
        #889FD4 65%, 
        #A6B1F1 79%, 
        #A6B1F1 100%
    );
    padding: 50px 50px 0 50px;
}

.footer-color-transition .button-round {
    background-color: #004B50;
    color: #D3FFB4;
}

.footer-color-transition .button-round:hover, .footer-color-transition .button-round:active {
    background-color: #D3FFB4;
    color: #004B50;
}

.footer-box {
    flex: 1;
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    justify-content: center; /* Centers children horizontally if there's extra space */
    align-items: center; /* Horizontally center content within the column */
    text-align: center;
    flex: 1 1 auto; /* Flex grow, shrink and basis */
}

.footer-row {
    padding: 0 50px;
    display: flex;
    width: 100%; /* Ensures the row takes full width of its parent */
    align-items: flex-start; /* Aligns children to the start (left) of the container */
    text-align: left;
    color: #102B35;
    font-size: 16px;
}

.footer-border-box {
    flex: 0 0 auto; /* Only take up space needed for content */
}

.footer-stretch-box {
    flex: 1 1 auto; /* This box will grow and take up the remaining space */
}

.footer-image {
    max-width: 100%; /* ensures images are not bigger than their container */
    height: auto;    /* maintains the aspect ratio */
}

.footer-form {
    min-width: 300px;
    height: 40px;
    background: #A6B1F1;
    opacity: 1;
    border: 2px solid #004B50;
    border-radius: 4px; /* Adds a minimal radius to each corner */
    color: #102B35;
    font-size: 16px;
    outline: none; /* Removes the default focus outline */
    padding: 0 10px; /* Adds padding on the left and right */
    margin: 5px 0;
}

.footer-form:focus {
    box-shadow: 0 0 0 3px rgba(0,75,80,0.5); /* Adds a subtle glow around the field */
    border: 2px solid #004B50; /* Keeps the border color consistent on focus */
}

/* Override font size for larger screens to cap it */
@media (min-width: 1200px) {
    .date {
        font-size: 80px;
    }
    h1 {
        font-size: 60px;
    }
    body {
        font-size: 24px;
    }
}

/* This class has no effect by default, ensuring visibility on larger screens */
.hide-on-mobile {}

/* Show the text section over the teaser image on very tall screens */
@media (min-height: 1200px) {
    .color-transition {
        margin-top: 75vh;
    }
}

/* Media query for small screens, typically mobile devices */
@media (max-width: 810px) {
    h1 {
        font-size: min(50px, 5vw);
    }
    .text-wide {
        padding: 30px 20px;
    }
    .text-columns {
        padding: 30px 20px;
        flex-direction: column; /* Stack columns vertically */
    }
    .column-one, .column-two {
        padding: 10px 10px;
        flex: 1 0 100%; /* Each column takes 100% of the text-area width */
        justify-content: flex-start; /* Adjust if necessary for content alignment */
    }
    .footer-color-transition {
        padding: 30px 20px 0 20px;
    }
    .footer-box, .footer-row {
        padding: 20px 10px;
        flex-direction: column;
        justify-content: center; /* Centers children horizontally if there's extra space */
        align-items: center; /* Horizontally center content within the column */
    }
    .button-round {
        height: 40px;
        line-height: 40px;
        padding: 0 40px; /* Padding on left and right for text */
        font-size: 18px;
        font-weight: normal;
        border-radius: 20px; /* Full circle on the sides */
    }
    .footer-border-box {
        text-align: center; /* Horizontally center content within the column */
    }
    .footer-image {
        max-width: 75%; /* Reduces maximum width */
    }
    .hide-on-mobile {
        display: none;
    }
}

/* Media query for small screens, typically mobile phones */
@media (max-width: 550px) {
    h1 {
        font-size: min(60px, 7vw);
    }
}