Require valid-user
AuthType Basic
AuthName Dev
AuthUserFile /home/vereinwi/.htpasswds/htpasswd.a3259c4f-d154-485f-81fc-5111fe1dcc95

#@__HCP_END__@#
# Anything after the comment above is left alone

# Enable HSTS (HTTP Strict Transport Security)
<IfModule mod_headers.c>
    # Enable HSTS for the next 6 months (15768000 seconds)
    Header always set Strict-Transport-Security "max-age=15768000; includeSubDomains; preload"
</IfModule>

